html {
  scroll-behavior: smooth;
}

#header {
  display: flex;
}

.navbar{
  background-color: #141B2A;
  padding: 3vh;
}

.navbar a{
  color: white;
  font-weight: 600;
}

.background1{
  height: 100vh;
  background-image: url("img.g/top-BG.png");
  background-position: 50% 63%;
  position:relative;
}

.carousel {
  width:127vh;
  margin-left: 18vh;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50vh;
  width: 50vh;
  background-size: 100%, 100%;
  background-image: none;
  padding-top: 4.5vh;
}

.carousel-control-next-icon:after
{
     content: '>';
     font-size: 30vh;
     font-weight: 100;
     color: #1C2434;
     padding-left: 45vh;
}

.carousel-control-prev-icon:after {
     content: '<';
     font-size: 30vh;
     font-weight: 100;
     color: #1C2434;
     padding-right: 65vh;
     margin-left: -18vh;
}

/* ----- vertical nav ----- */
.icon-bar {
  margin-top: auto;
  margin-bottom: 5vh;
  z-index: 1;
}

.icon-bar a {
  padding-top: 2.5rem;
  margin-left: 2.5rem;
  text-align: left;
  transition: all 0.5s ease;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.icon-bar a:hover {
  background-color: auto;
  color: #D49A63; /* le chiffre change de couleur */
  text-decoration: none; /* enlève le trait sous le chiffre */

}

.effetBar:hover {
  align-items: flex-end;
  display: flex;
  border-bottom: 0.05em solid;
  padding-bottom: -10vh;
}

.bottom{
  position:absolute;
  bottom:0;
}

.perf{
  color: #1C2434;
  font-style: italic;
  align-items: center;
  margin-bottom: -2vh;
}

.arrow{
  margin-bottom: -9vh;
}

.btn-book {
  color: #D49A63;
  font-weight: bold;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: solid 1px;
  border-color: #1C2434;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  margin-left: 170vh;
  margin-bottom: 2.5vh;
  height: 5vh;
  width: 18vh;
}


/* ----- sections ----- */
#section1{
  background-image: url("img.g/main-BG.png");
  background-position: 50% 33%;
}

.perfection{
  padding-top: 10vh;
  font-size: 6.5vh;
  font-weight: 600;
}

.lorem{
  font-style: italic;
  color: #8c8c8c;
}

.firstimg{
  position: relative;
  text-align: center;
  color: #D49A63;
  font-size: 4vh;
  font-weight: 600;
  margin-top: 15vh;
  margin-right: -50vh;
}

.desserts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

hr{
  margin-top: -1vh;
}

.lorembis{
  font-style: italic;
  color: #cbcbcb;
  font-size: 1.5vh;
  white-space: nowrap;
}

.secimg{
  position: relative;
  text-align: center;
  color: black;
  font-size: 4vh;
  font-weight: 600;
  margin-top: 7vh;
}

.smoothies {
  position: absolute;
  top: 45vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.thirdimg{
  position: relative;
  text-align: center;
  color: #D49A63;
  font-size: 4vh;
  font-weight: 600;
  margin-top: -46.5vh;
}

.breakfast {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-check {
  color: #D49A63;
  font-weight: bold;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: solid 1px;
  border-color: #cbcbcb;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  margin-top: 7vh;
  height: 5vh;
}

#section2{
  background-image: url("img.g/photo-BG.png");
  background-size: cover;
}

.jumbotron{
  margin-left: auto;
  margin-right: auto;
}

.details{
  font-size: 6.5vh;
  font-weight: 600;
}

#section3{
  background-image: url("img.g/main-BG.png");
  background-position: 50% 33%;
}

.middleimg{
  position: relative;
  text-align: center;
  color: #D49A63;
  font-size: 4vh;
  font-weight: 600;
  margin-top: 13vh;
}

.lastimg{
  position: relative;
  text-align: center;
  color: #D49A63;
  font-size: 4vh;
  font-weight: 600;
  margin-top: -40vh;
}

.dfb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: 2.5vh;
}

#hrdemerde {
  transform: translateY(-30px);
}

/* #hrdemerde:after {
    background: #fff;
    content: "";
    padding: 0 4px;
    position: relative;
    top: -13px;
} */


#gratia{
  font-weight: bold;
}
